/**Header**/
*{
    margin: 0;
    padding: 0;
}

#nav{
    width: 101vw;
    height: 12vh;
    background-color: #f0f1f2;
    box-shadow: -2px -8px 12px 11px rgba(61,61,61,1);
}

#logo{
    background-image: url("../../resources/images/Logo.png");
    background-repeat: no-repeat;
    background-size: contain;
    width: 25vw;
    height: 12vh;
    float: left;
    margin: 0 0 0 40vw;
}

#logout{
    height: 10vh;
    width: 13vw;
    float: right;
    margin: 1vh 3vw 0 0;
    font-size: 20px;
    line-height: 10vh;
}

#logoutIcon{
    height: 5vh;
    width: 5vh;
    float: left;
    background-color: red;
    margin-top: 2.5vh;
    margin-right: 0.5vw;
}

/**Body**/
body{
    overflow: hidden;
}

/** Overview Page**/
#mainOverview{
    width: 100vw;
    height: 100vmax;
    padding-top: 2.5vh;
    margin-left: 3vw;
}

#stationContainer{
    background-color: #1f5588;
    height: 75vh;
    width: 65vw;
    float: left;
    padding: 1.5vh;
    margin: 1.5vh;
}

#contentBox{
    background-color: #1f5588;
    height: 70vh;
    width: 65vw;
}

#titleBox{
    background-color: #1f5588;
    height: 6vh;
    width: 65vw;
    font-size: 35px;
    text-indent: 2vw;
    color: white;
}

#Stations{
    overflow: scroll;
    overflow-x: hidden;
    max-height: 67vh;
}

.stationElement{
    background-color: white;
    height: 25vh;
    width: 28vw;
    float: left;
    margin: 2vw 1vw 1vw 2vw;
    text-align: center;
    line-height: 25vh;
    font-size: 30px;
}

.status{
    float: right;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    background-color: red;
    margin: 2vh;
}

#buttonsContainer{
    float: left;
    background-color: #1f5588;
    height: 75vh;
    width: 22vw;
    padding: 1.5vh;
    margin: 1.5vh;
}

.functionButtons{
    float: left;
    background-color: white;
    height: 12vh;
    width: 20vw;
    margin: 2vh 0 0 1vw;
}

.functionButtonsSmall{
    float: left;
    background-color: white;
    height:12vh;
    width: 9.5vw;
    margin: 2vh 0 0 1vw;
}

#profilePicBox{
    float: left;
    background-color: white;
    height: 30vh;
    width: 20vw;
    margin: 2vh 0 0 1vw;
}

.icon {
    float: right;
    background-color: crimson;
    height: 7vh;
    width: 5vw;
    margin: 1.5vw 1vw;
}

/**Effects**/
.dropShadow{
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.95);
}

.rounding{
    border-radius:2px;
    box-shadow: 2px 2px 5px 0 rgba(50, 50, 50, 0.95);
}

/*Login Page Style*/

#center-textbox
{
    text-align: center;
    padding-top: 1vh;
    width: 15vw;
    height: 32vh;
    margin-left: 3.5vw;
}

#login-credentials
{
    padding-top: 4vh;
    margin: auto;
    width: 9vw;
}

#logIn-Box
{
    width: 22vw;
    height: 33vh;
    background: white;
    margin: auto;
    margin-top: 20vh;
    margin-right: 45vw;
}

.u-p-text
{
    float: left;
    font-size: 1.8vh;
}

a
{
    text-decoration: none;
}

.scale
{
    width: 8.8vw;
    height: 1.6vh;
}

#button
{
    width: 3vw;
    height: 2vh;
    margin: auto;
}

#login-text-scale
{
    font-size: 3vh;
}

.forgot-password-register-text-scale
{
    font-size: 1.5vh;
}
